@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  .login-bg,
  .register-bg {
    background: hsla(183, 76%, 48%, 1);

    background: linear-gradient(
      90deg,
      hsla(183, 76%, 48%, 1) 0%,
      hsla(168, 79%, 50%, 1) 100%
    );

    background: -moz-linear-gradient(
      90deg,
      hsla(183, 76%, 48%, 1) 0%,
      hsla(168, 79%, 50%, 1) 100%
    );

    background: -webkit-linear-gradient(
      90deg,
      hsla(183, 76%, 48%, 1) 0%,
      hsla(168, 79%, 50%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1DD0D9", endColorstr="#1DE4BC", GradientType=1 );
  }
  .shadow-default{
    box-shadow: -1px -1px 34px -12px rgba(0,0,0,0.78);
  }
}
